:root {
  --bg-main: #f7f2ea;
  --bg-secondary: #e8ddcf;
  --text-main: #2f211b;
  --primary-color: #7a432e;
  --secondary-color: #657057;
  --other-color: #d7c9ba;
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--text-main);
}

html {
  color: var(--text-main);
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 18px;
}

.head-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 24px;
  /*filter: blur(10px);*/
  background-color: #fff8;
  backdrop-filter: blur(10px);

  .head-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;

    span {
      font-size: 20px;
      font-weight: bold;
      color: var(--text-main);
    }
  }
}

main {
  padding: 0 64px;
}

.head {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .head-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 32px;

    :first-child {
      color: var(--primary-color);
    }

    .head-title {
      font-size: 48px;
      font-weight: 500;
    }

    .head-buttons {
      display: flex;
      width: auto;
      gap: 16px;

      > * {
        padding: 10px 16px;
        border-radius: 4px;
      }

      :first-child {
        background-color: var(--primary-color);
        color: var(--bg-main);
      }

      :nth-child(2) {
        border: 2px solid var(--primary-color);
      }
    }
  }
}

.features {
  /*background-color: var(--bg-secondary);*/

  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    li {
      display: flex;
      gap: 4px;

      object {
        width: 18px;
      }
    }
  }
}
